 @font-face {
            font-family: "Roboto"; 
            font-weight: 400;
            font-style: normal;
            src: local("Fonts"),
            url("roboto.woff2") format("woff2"),
            url("roboto.woff") format("woff");
          }
          
 @font-face {
            font-family: "Roboto";
            font-weight: 500;
            font-style: normal;
            src: local("Fonts"),
            url("roboto.woff2") format("woff2"),
            url("roboto.woff") format("woff");
          }
          
 @font-face {
            font-family: "Roboto";
            font-weight: 700;
            font-style: normal;
            src: local("Fonts"),
            url("roboto.woff2") format("woff2"),
            url("roboto.woff") format("woff"); 
        }
        body {
            font-family: "Roboto", "Arial", sans-serif;
            font-weight: 400;
            font-style: normal;
          }
:root {
--basic-black: #000000;
--basic-white: #ffffff;
--basic-grey-index2:  #8996A6;;
--basic-brown-index3: #9D8B84;
--basic-green-index1: #849D8F;
--basic-address-on-a-map-background #FEFEFE;
--basic-index-and-catalog-body-buttons-red : linear-gradient(180deg, #F26843 0%, #E74A35 100%);
--basic-feedback-and-other-forms-background-beige: #F8F7F4;
--basic-CATALOG-button-red: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, 
rgba(255, 255, 255, 0) 100%);
--basic-catalog-filters-and-header-buttons-light-grey: rgba(255, 255, 255, 0.2);
--basic-catalog-button-background: #D07058;
--basic-logo-glassy-background: #FBFCFB;

/* Главная */

.page {background-color: #849D8F;
    background-position: absolute;
    width: 1200px;
    height: 2419px;
    left: 0px;
    top: 0px;
}
body {font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-size: 16 px;
    line-height: 22 px;
    }
img {
max-width: 100%;
height: auto;
}
a {
text-decoration: none;
  }

.main-navigator.Logo-gllasy{
position: absolute;
width: 154px;
height: 64px;
left: 27px;
top: 9px;
background-color: #FBFCFB;
}
.header-catalog {
position: absolute;
width: 61px;
height: 11px;
left: 205px;
top: 32px;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 18px;
display: flex;
align-items: center;
color: #FFFFFF;
}

.header-catalog-list {
position: absolute;
width: 143px;
height: 171px;
left: 184px;
top: 59px;
font-size: 14px;
line-height: 16px;
background-color: white;
color:var(--basic-black);
display: flex;
align-items: center;
color: #323232;
background: #FFFFFF;
box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
border-radius: 4px;
}
.header-delivery-and-pay{
position: absolute;
width: 142px;
height: 11px;
left: 298px;
top: 32px;

font-weight: bold;
font-size: 16px;
line-height: 18px;

display: flex;
align-items: center;

color: #FFFFFF;
}
.forget-password, .new-regostration {
font-weight: normal;
font-size: 13px;
line-height: 15px;
display: flex;
align-items: center;
text-align: left;
color: #323232;
}

.header-about-company {
    position: absolute;
    width: 90px;
    height: 11px;
    left: 472px;
    top: 32px;
    
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
     
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}
.search-button {
position: absolute;
width: 32px;
height: 32px;
border-radius: 50%;
left: 929px;
top: 23px;
background: rgba(255, 255, 255, 0.2);
}
.login-button {
    position: absolute;
    width: 92px;
    height: 32px;
    left: 971px;
    top: 23px;
    
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.close-button {
    position: absolute;
    width: 100px;
    height: 32px;
    left: 1073px;
    top: 23px;
    
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}
.basket {focus:
    position: absolute;
    width: 100px;
    height: 32px;
    left: 1073px;
    top: 23px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}
.work-time { 
    position: absolute;
    width: 149px;
    height: 16px;
    left: 1024px;
    top: 75px;

    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
  
}
.phone-number {
    position: absolute;
    width: 167px;
    height: 24px;
    left: 1006px;
    top: 99px;
   
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
}
.page h1 {
background-image: url(icecream on index 2.png)
 absolute
 333px
 519px
 591px
 126px,

url(icecream on index 1.png)
 absolute
 372px
 584px
 277px
 83px;

position: absolute;
width: 672px;
height: 119px;
left: 264px;
top: 398px;

font-weight: bold;
font-size: 60px;
line-height: 60px;
text-align: center;
}

page h2 {
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
    text-align: left;
}

.main-action-raspberry{
background-image: url(raspberry-background.jpg)
absolute
 560px
 229px
 27px
 647px
border-radius: 16px;
font-weight: bold;
font-size: 18px;
line-height: 22px;
text-align: right;
}

.main-action-chocolate {
background-image: url(chocolate-background)
absolute
560px
229px
613px
647px
border-radius: 16px;
font-weight: bold;
font-size: 18px;
line-height: 22px;
text-align: left;
}
.action-button {
    position: absolute, right, bottom;
    background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
    border-radius: 70px;
    padding-bottom:22 px
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}
.icercream-price{
font-weight: bold;
font-size: 45px;
line-height: 45px;
display: flex;
text-align: left;
}
.kg {
font-weight: bold;
font-size: 30px;
line-height: 35px;
display: flex;
text-align: left;
}

.icecream-names {font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
}
.main-advantages {
font-weight: 500;
font-size: 24px;
line-height: 30px;
color: #323232;
text-align: left;
background-image: url(waffles-background.jpg);
position: absolute;
width: 1146px;
height: 306px;
left: 27px;
top: 1280px;
border-radius: 16px;
}

.features-item {
font-weight: normal;
font-size: 16px;
line-height: 22px;
display: flex;
text-align: left;
color: #323232;
}

page h5 {
font-weight: 500;
font-size: 16px;
line-height: 22px;
display: flex;
text-align: left;
color: #323232;
}
page h5 a {
font-weight: bold;
font-size: 24px;
line-height: 30px;
display: flex;
color: #323232;
text-align: left;
}

.mail {
font-weight: normal;
font-size: 16px;
line-height: 22px;
display: flex;
text-align: left;
color: #5A5A5A;
background-image: url(post-background.jpg);
}

.button{
position: absolute;
background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
border-radius: 70px;
font-weight: bold;
font-size: 18px;
line-height: 24px;
display: flex;
align-items: center;
text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
text-align: center;
}
.footer-links{
font-size: 13px;
line-height: 18px;
display: flex;
align-items: center;
}
.footer-copyright {
font-weight: normal;
font-size: 12px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
}

.blog {
background-image: url(strawberry-background.jpg)
position: absolute;
width: 560px;
height: 220px;
left: 27px;
top: 1626px;
border-radius: 16px;
}



/* Каталог */

.breadcrumbs {
font-weight: normal;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
text-align: left;
}

.filtres-h1 {
font-weight: bold;
font-size: 35px;
line-height: 41px;
display: flex;
align-items: flex-end;
color: #FFFFFF
text-align: center;
}

.names-of-filters
{font-weight: 500;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: flex-end;
color: #FFFFFF;
text-align: left;
}

.sorting-items filter {
font-weight: 500;
font-size: 16px;
line-height: 18px;
display: flex;
align-items: flex-end;
text-align: left;
}

.filter {
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 18px;
display: flex;
align-items: center;
}

.to-apply-button {
font-weight: 500;
font-size: 16px;
line-height: 18px;
display: flex;
align-items: flex-end;
text-align: center;    
}
.pages-list{
font-weight: 500;
font-size: 16px;
line-height: 18px;
display: flex;
align-items: center;
color: #323232;
}

.sorting-items-filter,.price-slider-filter,.fat-content,.Excipients {
background: rgba(255, 255, 255, 0.2);
border-radius: 20px;
}